# Environment variables
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Database
*.db-journal

# Uploads
uploads_pdf/*.pdf

# Logs
*.log
cnpj_filtrado.db 
